

div.code {
  font-size: 70px;
  color:pink;
  font-family: 'Sofia', cursive;
  text-align: center;
}
div.that{
  font-family: 'Archivo Black', sans-serif;
  font-size: 70px;
  color:purple;
  text-align: center;
}
