body{
  background:url(http://www.officialpsds.com/images/thumbs/Paint-Splatter-psd83522.png);
  background-repeat;
}

.bodytext img{
  border-style: groove;
  border-color: white;
  margin: 0px 10px 10px 0px;
  text-align: center;
  border: 20px solid #d608be;
  border-style: ridge;
  height: 200px;
  float:left;
}

div.bodytext{
  background:rgba(255,255,255,0.7);
  font-family: 'Coming Soon', cursive;

  padding-left: 0;
  margin: 0;
  width: auto;
}

h1 {
  font-size: 70px;
  color:#ad42f4;
  font-family: 'Sofia', cursive;
  text-align: center;
  font-size: 70px;
}

div.frame{
  border: 20px double #efaecc;
  padding: 0;
  margin: 0:
  border-width: 50px;
  display: inline-block;
  width: auto;
}
div.center{
  text-align: center;
}
