body{
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/47/63/1a/47631af7249de38903939e143b38eb80.jpg);
  background-size: cover;
  text-align: center;
}

div.header{
   position: fixed;
   font-family: 'Sofia', cursive;
   color: #cced74;
   padding: 20px;
   font-size: 50px;
 }

 div.frame{
   border-width: 50px;
   border-style: double;
   border-color: #f904dd;
   display: inline-block;
   width: auto;
 }

 img {
   width: 1
   60px;
 }

#border{
  border-style: ridge;
}

#borders{
  border-style: dashed;
  border-width: 20px;
}
